.container-board {
  display: flex;
  flex-wrap: wrap;
}
  
.square {
  border: 1px solid black;
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  }
  
.square:hover {
   background: #eee; 
}
  
#boardPlayer1 {
  padding: 0px 30px;
}

.container-pieces {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}