.container-board {
  display: flex;
  flex-wrap: wrap;
}

.occupiedCell{
  background-color:#999999;
}

.checkedCell{
  background-color:#b64e4e;
}

.cleanDog{
  background-color:#f8f52a;
}

.dirtyDog{
  background-color:#6e3a18;
}

.water{
  background-color:#19c4e2;
}

.emptyCell{
  background-color:#ffffff;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.MuiTableCell-root {
  padding: 20px !important;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.square {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.square:hover {
  background: #eee;
}
