.container-board {
  display: flex;
  flex-wrap: wrap;
}

.occupiedCell{
  background-color:#999999;
}

.checkedCell{
  background-color:#b64e4e;
}

.emptyCell{
  background-color:#ffffff;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.MuiTableCell-root {
  padding: 10px !important;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.square {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.square:hover {
  background: #eee;
}
