body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #79D4D9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

#outer-section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65%;
  }

#outer-section img {
  width: 320px;
  }

section#start-game {
display: inline-flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 300px;
width: 300px;
background-color: white;
border: 5px; 
border-color: #75E6AC;
border-radius: 10px;
}

#outer-placing-pieces {
  height: 100%;
  width: 100%;
}

#placing-pieces {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#gameBoard {
  width: 400px;
}

section#dog-btns {
  width: 50%;
}

input {
  padding: 5px !important;
}

.Button {
  text-align: center;
  border-radius: 5px;
}

.MuiButton-root {
  width: auto !important;
  color: #000000de;
  background-color: white !important;
  margin: 10px !important;
  text-transform: none !important;
  font-weight: bold !important;
}

.MuiButton-outlined {
  border: 1px solid #75E6AC !important;
}

#back-btn {
  display: flex;
  font-size: 2rem;
  padding: 0px !important;
  width: auto !important;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  color: gray;
}

nav a  {
  display: flex;
  align-self: center;
}

input[type="text"] {
  font-family: monospace;
  font-size: 20px;
  color: #1b1b1b;
}

input::placeholder {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: table-row;
}

i {
  font-size: 20px;
}